.book-container {
  /**/
  float: left;
  padding: 1em;
  width: 100%;
  float: left;
  padding: 1em;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.scene {
  width: 45%;
  height: 90%;
  margin: 5% 5% 5% 50%;

  perspective: 1000px;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}

.page {
  cursor: pointer;
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;

  transition: 0.8s transform;
  transform: translateZ(-1px);
  transform-style: preserve-3d;
  transform-origin: left center;
}

/* .page.sheet::after {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0)
  );
  bottom: 0em;
  content: "";
  position: absolute;
  top: 0em;
  width: 4em;
  z-index: 1;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
} */

.front,
.back {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 10% 5% 5%;
  box-sizing: border-box;

  backface-visibility: hidden;
  background: -webkit-gradient(
    linear,
    0% 0%,
    100% 100%,
    from(#ffffff),
    to(#cccccc)
  );
  background: linear-gradient(to bottom right, #fff, #ccc);
}

.back {
  transform: rotateY(180deg);
}

.page.active {
  z-index: 1;
  transform: translateZ(0);
}
.page.flipped {
  transform: translateZ(0) rotateY(-180deg);
}
.page.flipped:last-of-type {
  z-index: 1;
}

p {
  margin: 0 0 0.1em;
  text-indent: 1em;
}

.qr {
  margin: 50px auto;
  max-width: 50%;
}
.qr img {
  display: block;
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .scene {
    width: 90%;
    height: 90%;
    margin: 5%;
  }
}
