.content-toolbar {
  position: static;
  top: 8px;
  right: 8px;
  z-index: 20;
  padding: 2px 5px;
  min-width: 180px;
  font-size: 0.95em;
  pointer-events: auto;
  background-color: #fff;
  height: 42px;
  border-radius: 8px;

  width: auto;
  display: inline-block;
  min-width: unset;
  max-width: unset;
}

.add-content-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  margin-top: 50%;
}
